html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
               monospace;
}

.App {
  margin-left: 3rem;
  margin-right: 3rem;
}

.App-header {
  display: flex;
}

.dark {
  background: #1c2022;
  color: #DADADA;
  min-height: 100%;
}
a.light {
  color: black;
}
a.dark{
  color: #DADADA;
}

.story-title {
  font-size: 1.0rem;
  font-weight: bold;
  /* color: rgb(187, 46, 31); */
}
.story-title a, .story-title a link, .story-title a hover, .story-title a visted {
  text-decoration: none;
}
.story-link-light a, .story-link-light a link, .story-link-light a hover, .story-link-light a visted {
  color: rgb(187, 46, 31);
}
.story-link-dark a, .story-link-dark a link, .story-link-dark a hover, .story-link-dark a visted {
  color: #DADADA;
}
.story-metadata {
  color: gray;
}
.story-metadata a, .story-metadata a link, .story-metadata a hover, .story-metadata a visted {
  /* color: black; */
}

.nav-bar {
  margin-bottom: 1.0rem;
}
.nav-link {
  margin-right: 0.3rem;
}
a.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}
a.nav-link.active {
  color: rgb(187, 46, 31);
}
.nav-theme-toggle {
  font-size: 1.5rem;
  float: right;
}
.btn-clear {
  border: none;
  background: transparent;
}

.Comment-light {
  background: #ededed;
  margin-top: 0.5rem;
  margin-bottom: 1.0rem;
  padding: 1.0rem;
  border-radius: 0.4rem;
}

.Comment-dark {
  background: #2A2D2F;
  margin-top: 0.5rem;
  margin-bottom: 1.0rem;
  padding: 1.0rem;
  border-radius: 0.4rem;
}
